name: Tests
on: [push]
jobs:
  tests:
    name: ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      memcached:
        image: memcached
        ports:
          - 11211:11211
      kyototycoon:
        image: coleifer/kyototycoon
        ports:
          - 1978:1978
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, "3.10", "3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: pip deps
        run: |
          pip install cython gevent msgpack-python
          pip install greendb peewee pymemcache redis ukt
      - name: runtests
        run: |
          greendb.py &
          python tests.py
          pkill greendb.py
