name: Tests
on: [push]
jobs:
  tests:
    name: ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      memcached:
        image: memcached
        ports:
          - 11211:11211
      kyototycoon:
        image: coleifer/kyototycoon
        ports:
          - 1978:1978
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, "3.10", "3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: kyotocabinet
        run: |
          sudo apt-get install liblzo2-dev libnsl-dev liblzma-dev
          wget https://dbmx.net/kyotocabinet/pkg/kyotocabinet-1.2.80.tar.gz
          tar xzf kyotocabinet-1.2.80.tar.gz
          cd kyotocabinet-1.2.80/
          ./configure --enable-lzo --enable-lzma && make -j && sudo make install
          sudo ldconfig
      - name: package deps
        run: |
          wget https://dbmx.net/kyotocabinet/pythonpkg/kyotocabinet-python-1.23.tar.gz
          tar xzf kyotocabinet-python-1.23.tar.gz
          cd kyotocabinet-python-1.23 && python setup.py install && cd ../
      - name: pip deps
        run: |
          pip install cython gevent msgpack-python
          pip install greendb peewee pylibmc pymemcache redis ukt
      - name: runtests
        run: |
          greendb.py &
          python tests.py
          pkill greendb.py
